<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{instance.instanceName}}
        </mat-panel-title>
        <mat-panel-description>
            <button *ngIf="isIdle() && instance.isSaved" mat-icon-button color="accent" aria-label="run"
                (click)="runTomcat($event)">
                <mat-icon svgIcon="run"></mat-icon>
            </button>
            <button *ngIf="isIdle() && instance.isSaved" mat-icon-button color="accent" aria-label="debug"
                (click)="runTomcat($event)">
                <mat-icon svgIcon="debug"></mat-icon>
            </button>
            <button *ngIf="isRunning()" mat-icon-button color="accent" aria-label="re-run" (click)="runTomcat($event)">
                <mat-icon svgIcon="re-run"></mat-icon>
            </button>
            <button *ngIf="isRunning() || isDebugging()" mat-icon-button color="warn" aria-label="stop"
                (click)="stopTomcat($event)">
                <mat-icon svgIcon="stop"></mat-icon>
            </button>
            <mat-spinner *ngIf="isProcessing()" [diameter]="20" color="accent"></mat-spinner>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <button mat-icon-button color="warn" style="width: fit-content;" (click)="remove(index)" aria-label="delete">
        <mat-icon svgIcon="delete"></mat-icon>
    </button>
    <app-form [save]="onSave" [instance]="instance" [isInvalidName]="isInValidName" [vscode]="vscode"></app-form>
</mat-expansion-panel>