<mat-spinner *ngIf="loading" [diameter]="20" color="accent"></mat-spinner>
<div style="display: flex;flex-direction: row;justify-content: end;width: 100%;">
    <button *ngIf="!error && !loading" mat-icon-button color="accent" style="width: fit-content;"
        (click)="addInstance()">
        <mat-icon svgIcon="add"></mat-icon>
    </button>
</div>
<mat-accordion>
    <app-instance *ngFor="let instance of instances;let idx = index" [vscode]="vscode" [remove]="remove"
        [instance]="instance" [index]="idx" [isInValidName]="isInvalidName"></app-instance>
</mat-accordion>